---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header';
import About from '../components/about';
import Services from '../components/services';
import Customer from '../components/customer';
import Feature from '../components/feature';
import Newsletter from '../components/newsletter';
---

<Layout title="Portfolio">
	<main>
		<Header />
		<About />
		<Services />
		<Customer />
		<Feature />
		<Newsletter />
	</main>
</Layout>

<style>
	
</style>
